
#experiment {
  /****************************************************
   Important!!
   Width and height here need to correspond to the values set in html/setup/constants.js 
   ****************************************************/
  width: 900px;
  height: 700px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: auto;
}

#loader {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url('../img/loading.gif') 50% 50% no-repeat #E0E0E0;
}

noscript {
  /* z-index: 8000; */
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

#no-cookie-container, #reloader-container, #missing-parameter-container {
  /* z-index: 8000; */
  position: fixed;
  left: 12.5%;
  top: 15%;
  width: 75%;
  background-color: white;
  font-size: 18px;
  text-align: center;

}

#loader p {
  font-family: sans-serif;
  font-size: 22px;
  margin: 24%;
  text-align: center;
}

.wrong-message {
	padding: 10px;
}

.wrong-message h1 {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.wrong-message p {
	font-size: 18px;
	text-align: center;
}

#zoom-message #zoom {
	font-size: 22px;
	text-align: center;
  padding: 10px;
}

#dimension-message #windowsize {
	display: block;
    margin: 0 auto;
}





/* custom css for the image filter example */

body{
    text-align: left;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    padding-top: 0.3em ;
    /* margin-bottom: 1em; */
}

li {
  margin: 10px 0;
}

#startButton{
    margin-top: 40px;
}

button{
    height:50px;
}

.Image{
    width: 512px ;
    height: 384px;
    border-radius:10px;
}

.ImageExample{
    width: 256px;
    height:197px;
    margin-bottom: 1.5em ;
    float:left;
    position: relative; 
}

figure{
    display: inline-block;
    width: 256px;
}
figure img {
    vertical-align: center;
}
figure figcaption {
    text-align: center;
}

#ExampleBlock{
    display: inline-flex;
    margin: 0px auto;
}

.ScoreImage{
    width: 370px;
    height:203px;
    padding:5px;
    border:1px solid #cccccc;
    margin-bottom: 1em ;
    margin-top:1em;
}

#NextButton{
    position:relative;  
    width:100px;
    height:30px;
    margin: 1em auto ;
    left: -70px ;   /*Dirty, need to fix*/
}

#myProgress {
    width: 1050px;
    background-color: grey;
    align-self: flex-end;
    margin-top: 1em ;
    position: absolute;
}

.ScaleBlock{
    /*margin-left: 0.1em;*/
    display: flex ;
    flex-direction: row ;
    height: 500px;    
    float: left;
    vertical-align: center ;
    position: relative ;
    width = 100%;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#MainBlock{
    height: 384px;
    width: 1200px;
    display: flex ;
    flex-wrap: nowrap ;
    flex-direction: column ;
    height: 768px;
    width: 1600px;
    margin-top: 4em ;
}

.ImageBlock{
    float: left;
    margin-right: 3em;
    position:relative;
    display:inline-block;
    text-align:center;
}

#ImageBlockExample{
    float: left;
    margin-right: 2.5em;
    position:relative;
    display:inline-block;
    text-align:center;
}

#InstructionText{
    width: 1050px ;
    margin:auto;
}

#FinalInstructions{
    margin-top: 40px;
}

.radioGroupRecognize label {
    display: inline-block;
    text-align: center;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.radioGroupRecognize label input[type="radio"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.radioGroupDifficult label {
    display: inline-block;
    text-align: center;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.radioGroupDifficult label input[type="radio"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
}


#left_label{
    text-align: right;
    padding-right: 0.5em;
}

#right_label{
    text-align: left;
    padding-left: 0.5em;
}

#radio1d{
    margin-right: -0.2em;
    margin-left: 2em;
    
}

#radio9d{
    margin-left: -0.2em;
    margin-right: 2.5em;
    padding-left: 1em;
}

#radio1r{
    margin-right: -0.2em;
    margin-left: 2em;
    
}

#radio9r{
    margin-left: -0.2em;
    margin-right: 2.5em;
    padding-left: 1em;
}

.button-div{

  clear: both;
}

span.clear { clear: left; display: block; }

/* CSS for the new expirement */
#price {
    font-weight: 600;
    color: #438fdd;
  }

.line{
    height:1px;
    background-color: #c9bfbf;
    margin-top:15px;
    margin-bottom:15px;
}

u{
    padding-top:10px;
}

.consent {
    font-size: 13px;
  }

  .btn-design{
    background-color:rgb(96, 156, 247);
    font-weight: 600;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 8px;
    border: 0px;
    margin-bottom:50px;
  }

  .btn-design:hover:focus:active {
    background-color:rgb(70, 105, 219);
  }


  .btn-design:disabled,
    button[disabled]{
    background-color:rgb(129, 136, 146);
    color:#c9bfbf;
    }

    .btn-design:hover:not([disabled]) {
        background-color:rgb(70, 105, 219);
    }

  .label-info{
      font-weight:500;
  }

  .light-p{
      font-size:15px;
      font-weight: 300;
  }

.predict{
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
}

.navbar-logo {
    color: #6f91f5; 
    margin-top:40px; 
    margin-bottom:40px; 
    margin-right:40px;
}

.logo-img {
    margin-right:10px; 
    margin-top:5px;
}

.logo{
    font-size:32px; 
    font-weight:800;
}

.top-40 {
    margin-top:40px;
}

.top-100 {
    margin-top:100px;
}

input[type=number]{
    margin-left: 10px;
    margin-top: -5px;
    width: 150px;
    text-align: left;
    font-size: 15px;
    height:35px;
}

.price-differenece{
    color:rgb(238, 34, 78);
    font-weight: 500;
}

.save-btn {
    color: #6f91f5;
    border-color: #6f91f5;
    height: 35px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid;
    margin-top: -5px;
    margin-left: 10px;
}


.save-btn:disabled,
    button[disabled]{
    color:rgb(129, 136, 146);
    border-color: rgb(129, 136, 146);
    }

.save-btn:hover:not([disabled]) {
    color: white;
    border-color: #6f91f5;
    background: #6f91f5;
}

.error-message{
    font-size: 12px;
    font-weight: 500;
    color: #ff0044;
}

/* likert */

form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:17px;
  left:9.5%;
  display:block;
  background-color:#d2daf1;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}

#end-training p {
    font-size:17px;
}

#end-testing p {
    font-size:17px;
}








